@model IEnumerable<OnTapDe3_2.Models.Hang>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

@using (Html.BeginForm("Index", "Hangs", FormMethod.Get))
{
    @Html.Label("Từ") <div></div>
    @Html.TextBox("start")<div></div>

    @Html.Label("Đến")<div></div>
    @Html.TextBox("end")

    <input type="submit" value="Tìm"/>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Mahang.Trim() }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Mahang.Trim() }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Mahang.Trim() })
            </td>
        </tr>
    }

</table>

<div>Tổng tiền là : @ViewBag.Tong</div>
