@model Bai8.Models.Hang

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nha_CC.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nha_CC.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongCo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChietKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh) 
           

        </dt>

        <dd>

            @{
                string imgPath = "~/wwwroot/WineImages/" + Model.HinhAnh;
            }
            <img src="@Url.Content(imgPath)" width="100" class="img-thumbnail" /> <br />
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaHang.Trim() }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
