
@{
    ViewBag.Title = "Index";
}

<style>
    tr td {
        padding: 12px;
    }
</style>
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div>Từ</div> @Html.TextBox("start")
    <div>Đến</div> @Html.TextBox("end")
    <input type="submit" value="Lọc" />
}

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div>Tìm</div> @Html.TextBox("find")
    <input type="submit" value="Tìm" />
}
<h2>Danh sách hàng</h2>
<table border="1">
    <tr>
        <th align="center">
            Mã hàng
        </th>

        <th align="center">
            Tên hàng
        </th>

        <th align="center">
           @Html.ActionLink("Giá", "Index", new  {@sort =  ViewBag.Sort})
        </th>

        <th align="center">
            Hình ảnh
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ProductID
            </td>

            <td>
                @item.ProductName
            </td>

            <td>
                @item.Price
            </td>

            <td>
                @item.Image
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = @item.ProductID }) |
                @Html.ActionLink("Chi tiết", "Detail", new { id = @item.ProductID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = @item.ProductID }) |
            </td>
        </tr>
    }
</table>
<p></p>
@Html.ActionLink("Thêm", "Create")